DATABASE_URL="postgresql://user:password@localhost:5432/iquadra"
JWT_SECRET="replace-with-at-least-32-random-characters"
JWT_EXPIRES_IN="7d"
PORT=3002
NODE_ENV=development
CORS_ORIGINS="http://localhost:3000,http://localhost:3001,http://localhost:3002"
